.delete-account {
  color: #ff0000 !important;
}

.log-out {
  color: #ff0000 !important;
}

.user-avatar {
  opacity: 1 !important;
}

.user-fullname {
  margin-right: 10%;
}

.cl-userButtonAvatarBox {
  margin-right: 90%;
}

.userProfileCard {
  padding-left: 60%;
  justify-content: center;
}

.cl-userProfile-root {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
